p{
color: black;
font-size: 20px;
}

.body{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: #8eb6aa;
margin: 0;
}

menu{
padding: 20px;
display: flex;
align-items: center;
justify-content: space-between;
}

logo{
    font-size: 24px;
    font-weight: bold;

}
links{
margin-left: 20px;
text-decoration: none;
color: #175ea4;
font-weight: bold;
align-items: center;
}

cabecalho{
text-align: center;

}

















